/**
 * Animaciones de la aplicación
 */

/* Animación de desvanecimiento para transiciones */
.fade {
  animation: fade 0.4s ease;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
